/** @format */
.form {
	display: flex;
	gap: 20px;
	align-items: flex-end;
	width: 1184px;
	padding: 32px 0;
	margin-left: auto;
	margin-right: auto;
}

.label {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 8px;

	color: #8a8a89;
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
}

.icon_select {
	position: absolute;
	bottom: 16px;
	right: 18px;
	width: 20px;
	height: 20px;
	fill: transparent;
	pointer-events: none;
}

.field_main {
	padding: 16px 18px;
	border-radius: 14px;
	border: none;
	font-size: 18px;
	font-weight: 500;
	line-height: 20px;
	color: #121417;

	-ms-appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
}

.field_languages {
	width: 221px;
}

.field_level {
	width: 198px;
}

.field_price {
	width: 124px;
}

.reset {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 52px;
	height: 52px;
	border-radius: 14px;
	border: none;
	font-size: 22px;
	font-weight: 500;
	line-height: 20px;
	color: #121417;
}

.reset:hover {
	background-color: antiquewhite;
	color: brown;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close_icon {
	width: 32px;
	height: 32px;
	stroke: #121417;
	transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
	cursor: pointer;
}
